<%= form_for current_user.invites.new do |f| %>
<p>
	<%= f.label :email %><br>
	<%= f.email_field :email %>
</p>

	<%= f.label :name %><br>
	<%= f.text_field :name %>

<p>
	<%= f.submit %>
</p>
<% end %>