<%= stylesheet_link_tag 'comments' %>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<style type="text/css">
.commenter h5{
  
	color: #47649F; 
	text-align: right; 
}

.time{

	text-align: right;
}
</style>

<div class="post-body2">
	<div class="row">
		<div class="col-sm-10">
		<h5><%= comment.message %></h5>
	</div>

	<div class="col-sm-2">

		<% if current_user.id == comment.user.id || current_user.id == comment.user.manager.id || current_user.admin?%>
		<div style="float: right";>
		<%= link_to  [comment.post, comment], method: :delete do %>
		<i class="fa fa-trash-o" style="font-size: 25px";></i> 
		<% end %>	

		<%= link_to  edit_post_comment_path(comment.post,comment) do %>
		<i class="fa fa-pencil-square-o" style="font-size: 25px";></i> 
		<% end %>
	</div>
		<%end%>
	</div>

	</div>
	
	<strong class="commenter"><h5> <%= comment.user.name %></h5></strong> 
	<p class="time"><%= comment.created_at %></p >
</div>


</body>
</html>