<div class="main">
<center>
	<h1>All Comments</h1>
</center>

<table class="table table-dark table-striped">
  <tr>
    <thead style="background-color: rosybrown;">
    <th>User Name</th>
    <th>Comment</th>
    <th colspan="3">Options</th>
  </tr>
  </thead>
 
 
  <% @comments.each do |comment| %>
    <tr>
      <td><%= current_user.name %></td>
      <td><strong><%= comment.message %></td>
      <td><%= link_to 'Show', post_comment_path(@post,comment) %></td>
      <td><%= link_to 'Edit',  edit_post_comment_path(@post,comment) %></td>
      <td><%= link_to 'Destroy', post_comment_path(@post,comment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>
</div>
<div class="sidenav">
  <h3 style="color: red;">Messages</h3>
  <% @users.each do |user| %>
  <a <%= link_to user.name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></a>
     <br>
  <% end %>

</div>
