<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	* {box-sizing: border-box;}

	body { 
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
	}
	.container {
		max-width: 600px;
	}



</style>
</head>
<body>


	<div class="formcen container">
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

		<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		</div>

		<div class="actions">
			<%= f.submit "Send me reset password instructions" %>
		</div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>

	<div class="sidenav">
		<h3 style="color: red;">Messages</h3>
		<p style="background-color: white;">Log in to see messages</p>


	</div>	
</body>
</html>