<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

    <p>
      <%= f.label :status %><br>
      <%= f.select(:status, [['Active', 'active'], ['Archived', 'archived']]) %> 
  </p>

    <p>
    <%= f.label :picture %><br>
    <%= f.file_field :avatar, id: :post_avatar %>
  </p>



  <p>
    <%= f.submit %>
  </p>
<% end %>