<%= stylesheet_link_tag 'posts' %>
	<div class="main">
				<%= link_to 'Back', posts_path ,{:class => :btn} %>
		<h1 class="post"> Edit Post </h1>
		<div class="post">

			<%= form_for @post do |f| %>
			<p>
				<%= f.label :title %><br>
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.label :body %><br>
				<%= f.text_area :body %>
			</p>

			<p>
				<%= f.label :status %><br>
				<%= f.select(:status, [['Active', 'active'], ['Archived', 'archived']]) %> 
			</p>

			<p>
				<%= f.label :picture %><br>
				<%= f.file_field :avatar, id: :post_avatar %>
			</p>


			<p>
				<%= f.submit %>
			</p>
			<% end %>

	
		</div>
	</div>

	<div class="sidenav">
		<h3 style="color: red;">Messages</h3>
		<% @users.each do |user| %>
		<a <%= link_to user.name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></a>
		 <br>
		<% end %>

	</div>




