<%= stylesheet_link_tag 'posts' %>
<style type="text/css">
  #postbody {
    border: 2px solid black;
    background-color: cadetblue;
    height: 300px;
  }
</style>

<div class="main">
  <%= link_to 'Back', posts_path,{:class => :btn} %>


  <div class="w3-conatiner row"> 
    <div class="col-md-3">
      <div class="media-body">
        <strong class="anchor-username"><h4 class="media-heading"> <%= @post.user.name %></h4></strong> 

        <p class="anchor-time"><%= @post.created_at %></p >
      </div>
    </div>

    <div class="col-md-6">
     <section id="postbody">
       <p><%= @post.body %></p>
     </section>

     <center><h5 "><u><b>Comments</b></u></h5></center>
     <%= render @post.comments %>

     <h4>New comment</h4>
     <%= render 'comments/form' %>
   </div>
   <div class="col-md-3">
    <center> <div >
       <%= image_tag(@post.avatar_url,height: 300,width: 300)  if @post.avatar.present? %>
     </div>
     <br>
     <% if current_user.id == @post.user_id || current_user.id == @post.user.manager.id || current_user.admin?%>
     <div >  <%= link_to 'Edit this Post', edit_post_path(@post),{:class => :btn} %></div>
     <br>
     <div >  <%= link_to 'Destroy this Post', post_path(@post),class: "btn",
        method: :delete,
        data: { confirm: 'Are you sure?' } %></div>
        <% end %>
   </center>
   </div>
 </div>
</div>   


<div class="sidenav">
  <h3 style="color: red;">Messages</h3>
  <% @users.each do |user| %>
  <a <%= link_to user.name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></a>
  <br>
  <% end %>

</div>

