<style type="text/css">
  .btn {
    background-color: darkslategrey;
  }
</style>
<div class="main">
<center>
	<h1>All Organizations</h1>
</center>

<table class="table table-dark table-striped">
   <thead style="background-color: rosybrown;" >
  <tr>
    <th>Manager Name</th>
    <th>Organization Name </th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Address</th>
    <th>Phone</th>
    <th colspan="4"></th>
  </tr>
</thead>
 
  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.user.name %></td>
      <td><strong><%= organization.name %></strong></td>
      <td><%= organization.city %></td>
      <td><%= organization.state%></td>
      <td><%= organization.country%></td>
      <td><%= organization.address%></td>
      <td><%= organization.phone%></td>
      <td><%= link_to 'View all employees', getUsers_path(organization) %></td>
      <td><%= link_to 'Show', organization_path(organization) %></td>
      <td><%= link_to 'Edit',  edit_organization_path(organization) %></td>
      <td><%= link_to 'Destroy', organization_path(organization),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
    <% end %>
</table>
<%= link_to 'Back', users_path ,{:class => :btn , :style => {:background => :dark}} %>
</div>



 <div class="sidenav">
    <h3 style="color: red;">Messages</h3>
    <% @users.each do |user| %>
    <a <%= link_to user.name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></a>

    <% end %>

</div>





