<div class="main">
<center>
	<h1>Organization Details</h1>
</center> 
<p>
  <strong>Manager Name</strong>
  <%= current_user.name %>
</p>
 
<p>
  <strong>Organization Name</strong>
  <%= @organization.name %>
</p>
 
 <p>
  <strong>City</strong>
  <%= @organization.city %>
</p>

 <p>
  <strong>State</strong>
  <%= @organization.state%>
</p>

 <p>
  <strong>Country</strong>
  <%= @organization.country%>
</p>


 <p>
  <strong>Street Address</strong>
  <%= @organization.address%>
</p>

 <p>
  <strong>Phone</strong>
  <%= @organization.phone%>
</p>

<p>
	<strong>Organization Logo</strong>
	<%= image_tag(@organization.avatar_url, class: 'rounded-circle', width: 200)  if @organization.avatar.present? %>
</p>


<%= link_to 'Back', organizations_path, {:class => :btn}  %>

</div>

 <div class="sidenav">
    <h3 style="color: red;">Messages</h3>
    <% @users.each do |user| %>
    <a <%= link_to user.name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></a>
     <br>
    <% end %>

</div>

